<div id="<%= dom_id element %>">
  <p>
    <strong>Room:</strong>
    <%= element.room_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= element.name %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= element.cost %>
  </p>

</div>
