<div id="<%= dom_id daily_snapshot %>">
  <p>
    <strong>Building:</strong>
    <%= daily_snapshot.building_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= daily_snapshot.date %>
  </p>

  <p>
    <strong>Total expenditure:</strong>
    <%= daily_snapshot.total_expenditure %>
  </p>

</div>
