<h1>Editing daily snapshot</h1>

<%= render "form", daily_snapshot: @daily_snapshot %>

<br>

<div>
  <%= link_to "Show this daily snapshot", @daily_snapshot %> |
  <%= link_to "Back to daily snapshots", daily_snapshots_path %>
</div>
