<div id="<%= dom_id building %>">
  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= building.budget %>
  </p>

  <p>
    <strong>Total expenditure:</strong>
    <%= building.total_expenditure %>
  </p>

</div>
